@tailwind base;
@tailwind components;
@tailwind utilities;

.intro {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

dd{
    text-indent: 20px;
}

@layer base {
    button {
        @apply bg-gray-300 px-1  rounded-sm border-black border
    }
}

body{
    margin: 30px;
}

html, body, #root {
    height: 100%;
    min-height: 100%;
}
